<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>查询记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/weui.min.css" />
</head>

<body>
    <div id="id-lmx-wrapper">
        <input id="telephone" placeholder="请输入手机号" type="tel">
        <!-- <input type="password" value="hauhda" name="password"> -->
        <button id="id-button-query">查询结果</button>
    <div id="id-lmx-table">
    </div>
</div>
    <script src="{{ url_for('static', filename='axios.js') }}"></script>
    <script src="static/util.js"></script>
    <script src="model/record.js"></script>
</body>

</html>